<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Music App</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
</head>
<body>

<main>
    <div data-name="component">
        <article class="helvetica pb5">
            <header class="vh-100 bg-light-blue dt w-100">
<!--                <div th:style="'background:url(' + ${perfectMusic.image} +') no-repeat center right;background-size: cover;'" class="dtc v-mid cover ph3 ph4-m ph5-l">-->
<!--                    <h1 class="f2 f-subheadline-l measure white lh-title fw9 GFG" th:text="${perfectMusic.author}"></h1>-->
<!--                </div>-->
                <h1 class="f2 f-subheadline-l measure white lh-title fw9 GFG" th:text="${perfectMusic.author} + ' ' + ${perfectMusic.title}"></h1>
            </header>
        </article>
    </div>
</main>

</body>
</html>
